.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

div.center {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display:block;
}

tr.center{
  max-width: 550px;
}

image.center{
  margin-bottom: 20px;
}

.warning{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: red;
}

.button {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #1453aa;
  cursor: pointer;
}

/* Search Navbar */
.s-navbar {
  display: block;
  /*text-align: center;*/
  padding: 8px;
  background-color: #854442;
}

.s-navbar ul {
  text-align: center;
  justify-content: center;
}

.s-navbar h1 {
  text-align: left;
  color: white;
}

/* Project Page */
#my-projects {
  cursor: pointer;
  float:left;
  padding:1% 1% 1% 1% ;
  margin: 0% 0% 2% 0%;
}

#your-account {
  background-color: lightgray;
  float:right;
  margin: 1% 2% 0% 0%;
  padding:0.4% 3% 0.4% 3%;
  border: none;
  opacity: 0.85;
  border-radius: 8px;
  color: #ffffff;
}

button#your-account:hover {
  opacity: 1
}

.project-attributes {
  clear: both;
  cursor: default;
  font-size: 150%;
  margin: 3% 0% 3% 3%;
  text-decoration: underline;
  text-underline-offset: 10px;
}

/* Home Page */
.jumbotron {
  background-image: url('./images/HomePic.png');
  height: 550px;
}

.jumbotron h1 {
  text-align: center;
  color: white;
  margin: 7% 50% 10% 40%;
}

.app-logo {
  width: 50px;
  height: 50px;
}

/* Role Page */
header {
  padding: 20px 0;
}

.back-to-project {
  cursor: pointer;
  padding: 1.5% 1% ;
  color: whitesmoke;
  background-color: lightgrey;
}

.role-info {
  background-color: brown;
}






