@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

html {
  font-size: 100%
}

.glyphicon {
  font-size: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
}

div.center {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display:block;
}

tr.center{
  max-width: 550px;
}

image.center{
  margin-bottom: 20px;
}

.warning{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: red;
}

.closeButton{
  font-size: 22px;
  text-align: right;
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
}

.invisibleButton{
  background: none!important;
  border: none;
  padding: 0!important;
  color: #1453aa;
  outline: none!important;
  cursor: pointer;
}

.invisibleMiniButton{
  background: none!important;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  padding: 0!important;
  color: #1453aa;
  cursor: pointer;
}

.popup{
	z-index: 99;
	background-color: white;
	position: fixed;
	filter: drop-shadow(5px 5px  7px grey);
	top: 30%;
  left: 38%;
  width: 450px;
  height: 380px;
  border-radius: 15px;
  transition-duration: 0.5s;
  transition: opacity 0.5s;
}

.extendedPopup{
  z-index: 99;
	background-color: white;
	position: fixed;
	filter: drop-shadow(5px 5px  7px grey);
	top: 27%;
  left: 38%;
  width: 450px;
  height: 430px;
  border-radius: 15px;
  transition-duration: 0.3s;
  transition: opacity 0.5s;
}

.largePopup{
  z-index: 99;
	background-color: white;
	position: fixed;
	filter: drop-shadow(5px 5px  7px grey);
	top: 20%;
  left: 36.5%;
  width: 500px;
  height: 570px;
  border-radius: 15px;
  transition-duration: 0.5s;
  transition: opacity 0.5s;
}

.scrollable{
  height: 350px;
  overflow: auto;
}

.projectInputField{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
  width: 400px;
}

.alteredProjectInputField{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
  width: 400px;
  border: 2px solid #3283a8;
}

.popupText{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
}

.movieCard{
  width: 18rem;
  height: 14rem;
  display: block;
  margin: 20px 20px 28px 28px;
  padding: 15px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  transition-duration: 0.3s;
}

.movieCard:hover {
  background-color: #1453aa;
  color: white;
  position: relative;
  transform: translate(0px, -15px);
}

.roleCard{
  width: 30rem;
  height: 12rem;
  display: block;
  margin: 5px 5px 28px 28px;
  padding: 15px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  transition-duration: 0.3s;
}

.roleCard:hover {
  background-color: #1453aa;
  color: white;
  position: relative;
  transform: translate(0px, -10px);
}

.banner{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  user-select: none;
  opacity: 50%;
  width: 100%;
  font-size: 50px;
}

/* Search Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 1.2rem;
  margin: 0 0.03rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar li {
  list-style-type: none;
}

.nav-img {
  width: 60px;
  height: 60px;
}

/* Search */
.s-navbar {
  display: block;
  /*text-align: center;*/
  padding: 8px;
  background-color: #854442;
}

.s-navbar ul {
  text-align: center;
  justify-content: center;
}

.s-navbar h1 {
  text-align: left;
  color: white;
}

.s-navbar a {
  text-align: left;
  color: white;
  font-size: 15px;
}

.s-main {
  display: block;
  /* position: fixed; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: #EBEBEB;
} 

.s-category {
  display: block;
  padding: 5px;
}
.s-sidebar {
  float:right;
  display: block;
  padding:15px 90px 50px 30px;  /*fixed*/
  flex-grow: 100;
  /* padding-right: 8px; */
  background: white;
} 

.s-sidebar h1{
  font-size: 15px;
  /* padding:15px 50px 50px; */
} 
.s-sidebar h2{
  font-size: 10px;
  /* padding:15px 50px 50px; */
} 

/* Discover Page */
#explore-block {
  /* background-color: lightgray; */
  float:left;
  font-size: 15px;
  margin: 1% 70px 1% 1%;
  padding:1% 1% 1% 1%;
  border: none;
  /* opacity: 0.85; */
  border-radius: 1px;
  color: #B5B5B5;
}

#mini-project {
  display: inline;
  font-size: 15px;
  padding:15px 90px 50px 30px;  /*fixed*/
  flex-grow: 100;
  /* opacity: 0.85; */
  background: #C0A59F;
}

#block {
  /* background-color: lightgray; */
  float:left;
  font-size: 15px;
  margin: 1% 1% 1% 1%;
  padding:1% 1% 1% 1%;
  border: none;
  /* opacity: 0.85; */
  border-radius: 1px;
  color: #B5B5B5;
}

/* Project Page */
#my-projects {
  cursor: pointer;
  padding:1% 1% 1% 1% ;
  margin: 0% 0% 2% 0%;
}

#your-account {
  /* background-color: lightgray; */
  float:right;
  font-size: 15px;
  margin: 1% 2% 0% 0%;
  padding:0.4% 3% 0.4% 3%;
  border: none;
  opacity: 0.85;
  border-radius: 8px;
  color: #ffffff;
}

button#your-account:hover {
  opacity: 1
}

.project-attribute-title {
  display: inline-block;
  font-size: 150%;
  margin: 1% 0% 1% 2%;
}

.project-attribute-description {
  font-size: 125%;
  margin: 0.25% 0% 1.5% 2%;
}


.main-title{
  display: block;
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
  font-size: 180px;
  user-select: none;
  opacity: 60%;
  color: white;
  text-shadow: 6px 6px 8px rgba(0,0,0,0.8);
}

/* Home Page */
.jumbotron {
  background-image: url('./images/HomePic.png');
  height: 400px;
}

.jumbotron h1 {
  text-align: center;
  color: white;
  margin: 7% 50% 10% 40%;
}

.app-logo {
  width: 50px;
  height: 50px;
}

/* Role Page */
header {
  padding: 20px 0;
}

.back-to-project {
  cursor: pointer;
  padding: 1.5% 1% ;
  color: whitesmoke;
  background-color: lightgrey;
}

.role-info {
  background-color: brown;
}






